*{
    margin: 0px;
    padding: 0px;
    
}
nav li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;

    
    
}
nav{
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

nav li:hover{
    background-color: tomato;
}
nav li a {
    text-decoration: none;
    color: black;

}
footer{
    text-align: center;
}