
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
}

.google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  margin: 0;
  line-height: 1.5;
}
img{
  max-width: 100%;
}

/* shared styles  */

.display-flex{
  display: flex;

  
}

main > section{
  margin-top: 130px;
}

.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;


}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);

}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px  25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;


}
main{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

/* header styles  */


/* navbar related styles  */
.navbar{
  justify-content: space-between;
    align-items: center;
    padding: 20px 16px;

}
.brand{
  font-weight: 700;
  font-size: 2rem;

}

.nav-links{
  gap: 30px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nav-item{
  list-style: none;

  
}
.nav-link{
  text-decoration: none;
  font-weight: 500;

}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;

}
.our-fechars{
  margin-left: 130px;
  
}

/* banner rekated style  */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;


}
.banner-title{
  font-weight: 700;
  font-size: 4rem;

}
.banner-description{
  padding: 0 8px;
}
.banner-img{
  width: 100%;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-img-container img{
  width: 100%;
  height: auto;
  display: block;
}
/* responsive media query */
@media screen and (max-width:576px){
  .navbar, .nav-links{
    flex-direction: column;
  }
  .nav-links{
    gap: 12px;
  }
  .banner-title{
    font-size: 2.5rem;
  }
  .banner-content{
    padding: 0 16px;
  }
  .teams{
    flex-direction: column;
    gap: 32px;
  }
  .team-img-container{
    grid-template-columns: 1fr;
  }
  .our-fechars{
    margin-left: 0;
    text-align: center;
  }

  
}

@media screen and (min-width:577px) and (max-width:992px){
  .navbar{
    flex-direction: column;
    gap: 16px;
  }
  .banner-title{
    font-size: 3rem;
  }
  .teams{
    flex-direction: column;
    gap: 40px;
  }
  .our-fechars{
    margin-left: 0;
    text-align: center;
  }
}




/*  */
.teams{
  gap: 60px;
  align-items: center;
}

.our-fechars{
  justify-content: center;
  align-items: center;
}
